body {
    background-color: rgb(7, 204, 194);
    font-family: 'Exo 2', sans-serif;
}

.container {
    width: 980px;
    margin: auto;
}

.heading {
    text-align: center;
    margin: 0;
    color: rgb(124, 124, 124)
}
.heading1 {
    text-align: center;
    margin: 0;
    color: rgb(2, 90, 117)
}

header {
    margin-bottom: 175px;
}

header h3 {
    font-style: normal;
}

.gallery {
    margin-top: 50px;
}

.gallery img {
    width: 480px;
}

.upload-button {
    text-decoration: none;
    background-color: rgb(134, 134, 134);
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.upload-button:hover {
    background-color: white;
    color: rgb(0, 95, 124);
}

.submitUp{
    width: 80px;
    margin-top: 30px;
    margin-left: 130px;
}
